
<div class="container">
    <div class="card" style="--clr: #009688">
        <div class="img-box">
            <img src="assets/img/img_caroussel/4.png">
        </div>
        <div class="content">
            <h2> {{ store.name }} </h2>
            <p>
                {{ store.description }}
            </p>
            <p *ngIf="store.categories && store.categories.length > 0">
                {{ store.categories[0].category }}
            </p>
            <p *ngIf="store.comments && store.comments.length > 0">
                {{ store.comments[0].note }}
            </p>
            <a href="" class="btn">Voir plus</a>
        </div>
    </div>
</div>