
<body>
    <div class="container">
        <div class="card" style="--clr: #009688">
            <div class="img-box">
                <img src="">
            </div>
            <div class="content">
                <h2>CARD</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Architecto, hic? Magnam eum error saepe doloribus corrupti
                    repellat quisquam alias doloremque!
                </p>
                
                <a href="" class="btn">Voir plus</a>
            </div>
        </div>
    </div>
    </body>
       