.btn {
  background-color: #ce0033;
  color: #f7f7ff;
  transition: background-color 0.3s; /* Animation douce lors du changement de couleur */
}

.btn:hover {
  background-color: #ff7094;
  color: #29000a;
}

.icon_color {
    color:#ff7094;
    transition: background-color 0.3s;

}
.icon_color:hover {
  color: #ce0033;
}

.icon{
  transition: transform 0.3s ease; /* Transition pour un effet en douceur */
}

.icon:hover{
  transform: scale(1.8); /* Agrandit le lien de 10% au survol */
}

.cursor-pointer {
  cursor: pointer;
}