 <!-- Footer -->
  <footer class="bg-body-tertiary">
    <div class="container py-2">
      <div class="row py-4">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="assets/img/logo_footer.png" alt="" width="130" class="mb-3">
          <p class="font-italic text-muted">SimplonHub, pour ceux qui ont une grosse teub!</p>
          <ul class="list-inline mt-4">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter icon_color"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook icon_color"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram icon_color"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest icon_color"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo icon_color"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Conditions d'utilisation</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Politique de confidentialité</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Mentions légales</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Navigation rapide</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="#" class="text-muted">Se connecter</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Se déconnecter</a></li>
            <li class="mb-2"><a href="#" class="text-muted">S'incrire</a></li>
            <li class="mb-2"><a href="#" class="text-muted">Tous les établissments</a></li>
          </ul>
        </div>
         <div class="col-lg-4 col-md-6 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">Contact</h6>
                <p class="text-muted mb-4">Pour toute question ou demande d'information, n'hésitez pas à nous contacter :</p>
                <a href="mailto:simplonhub@gmail.com" class="btn">simplonhub@gmail.com</a>
            </div>
      </div>
    </div>

    <!-- Copyrights -->
    <div class="bg-light py-4">
      <div class="container text-center">
        <p class="text-muted mb-0 py-2">© 2023 simplonHub tous droits réservés</p>
      </div>
    </div>
  </footer>
  <!-- End -->