.logo_navbar {
  width: 120px;
  transition: transform 0.3s ease;
  /* Transition pour un effet en douceur */
}

.logo_navbar:hover {
  transform: scale(1.05);
  /* Agrandit le lien de 10% au survol */
}

.btn {
  background-color: #ce0033;
  color: #f7f7ff;
  transition: background-color 0.3s;
  /* Animation douce lors du changement de couleur */
}

.btn:hover {
  background-color: #ff7094;
  color: #29000a;
}

.nav-link {
  transition: transform 0.3s ease;
  /* Transition pour un effet en douceur */
}

.nav-link:hover {
  transform: scale(1.05);
  /* Agrandit le lien de 10% au survol */
}

.bg-body-tertiary {
  opacity: 95%;
}

.logo-connexion {
  width: 20px;
  transition: transform 0.3s ease;
}

.logo-connexion:hover {
  transform: scale(1.3);
  /* Agrandit le lien de 10% au survol */
}
