.logo_navbar {
    width: 120px;
    transition: transform 0.3s ease;
    /* Transition pour un effet en douceur */
}

.logo_navbar:hover {
    transform: scale(1.05);
    /* Agrandit le lien de 10% au survol */
}

.btn {
    background-color: #ce0033;
    color: #F7F7FF;
    transition: background-color 0.3s;
    /* Animation douce lors du changement de couleur */
}

.btn:hover {
    background-color: #FF7094;
    color: #29000A
}

.nav-link {
    transition: transform 0.3s ease;
    /* Transition pour un effet en douceur */
}

.nav-link:hover {
    transform: scale(1.05);
    /* Agrandit le lien de 10% au survol */
}

.bg-body-tertiary {
    opacity: 90%;
}