<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <img src="assets/img/logo_navbar.png" alt="logo simplonHub" href="#">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">simplonHub</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Commerces</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hebergements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Restauration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sorties</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Autres</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Login
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Se connecter</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="chercher" aria-label="Search" />
                    <button class="btn" type="submit">Chercher</button>
                </form>
            </div>
        </div>
    </div>
</nav>
