.store-detail-container{
    margin-top: 100px;
    margin-bottom: 50px;
}

h1{
    font-weight: 500;
    color: #ce0033 ;
}

.btn {
    background-color: #ce0033;
    color: #F7F7FF;
    transition: background-color 0.3s; /* Animation douce lors du changement de couleur */
}

.btn:hover {
    background-color: #FF7094;
    color: #29000A
}

i{
    color: #ce0033 ;
}

.title{
    background-color: rgb(247, 247, 247);
}