.btn {
  background-color: #ce0033;
  color: #f7f7ff;
  transition: background-color 0.3s; /* Animation douce lors du changement de couleur */
}

.btn:hover {
  background-color: #f7f7ff;
  color: #29000a;
}

.carousel-image {
  height: 600px; /* Ajustez cette valeur selon vos besoins */
  object-fit: cover;
}
