.btn {
    background-color: #ce0033;
    color: #F7F7FF;
    transition: background-color 0.3s; /* Animation douce lors du changement de couleur */
}

.btn:hover {
    background-color:#F7F7FF;
    color: #29000A
}