
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12">
            <div class="card mt-5">
                <div class="card-header text-center">
                    Connexion
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (submit)="onSubmit()">
                        <div class="form-group mt-2">
                            <label for="email">Adresse email:</label>
                            <input type="email" class="form-control" id="email" formControlName="mail" required>
                        </div>
                        <div class="form-group mt-2">
                            <label for="password">Mot de passe:</label>
                            <input type="password" class="form-control" id="password" formControlName="password"
                                required>
                        </div>
                        <button type="submit" class="btn mt-3" [disabled]="!loginForm.valid">Se
                            connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Connexion réussie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Vous êtes maintenant connecté!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" [routerLink]="['/store']">Fermer</button>
      </div>
    </div>
  </div>
</div>
<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Erreur de connexion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Une erreur est survenue lors de la connexion. Veuillez réessayer.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
