/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn {
    background-color: #ce0033;
    color: #f7f7ff;
    transition: background-color 0.3s; /* Animation douce lors du changement de couleur */
  }
  
  .btn:hover {
    background-color: #f7f7ff;
    color: #29000a;
    box-shadow: 0 5px 15px #000;
  }
  